# 1构建产物
target/
build/
dependency-reduced-pom.xml
*.jar
*.war
*.ear
# IntelliJ IDEA（适配你当前的开发环境）
.idea/
*.iws
*.iml
*.ipr
out/
# STS/Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
# VS Code
.vscode/
*.code-workspace
.mvn/wrapper/maven-wrapper.jar
HELP.md
mvnw
mvnw.cmd
application.properties
application.yml
application.yaml
application-*.properties
application-*.yml
application-*.yaml
# 5. 日志与临时文件
*.log
*.log.*
spring.log
*.out
*.tmp
*.bak
*.swp
*.swo
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
